<h1>My tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
        <%= link_to task.title, task_path(task)%> | <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Delete', task_path(task), method: :delete %>
    </li>
  <% end %>
</ol>

<div><%= link_to 'new task', new_task_path %></div>
